<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>{{data.title}}</title>

  {{ block('beforeStyles')}}
  <!-- Common Css file for the module   -->
  <link href="/assets/backend/backend.css" rel="stylesheet">

  {{ block('afterStyles')}}
  <meta name="base_url" content="{{base_url()}}" />

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  
  {% include 'backend/includes/header.includes.twig' %}

  <div class="app-body">
    
    {% include 'backend/includes/sidebar.includes.twig' %}

    <!-- Main content -->
    <main class="main">
      <!-- Breadcrumb -->
      {% include 'partials/error.twig' %}
      {% include 'partials/success.twig' %}
      {% include 'partials/breadcrumbs.backend.twig' %}

      {{ block('body') }}
      <!-- /.conainer-fluid -->
    </main>

    {% include 'backend/includes/aside.includes.twig' %}

  </div>

  {% include 'backend/includes/footer.includes.twig' %}

  {{ block('beforeScripts')}}

  <!-- Common script file for the module -->
  <script src="/assets/backend/backend.js"></script>
  
  {{ block('afterScripts')}}
</body>
</html>	