<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.10
 * @link http://coreui.io
 * Copyright (c) 2018 creativeLabs Åukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>{{data.title}}</title>

  {{ block('beforeStyles')}}
  <!-- Icons -->
  <link href="/node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="/public/backend/css/style.css" rel="stylesheet">
  <link href="/public/backend/css/custom.css" rel="stylesheet">
  <!-- Styles required by this views -->
  {{ block('afterStyles')}}
  <meta name="base_url" content="{{base_url()}}" />

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  
  {% include 'backend/includes/header.includes.twig' %}

  <div class="app-body">
    
    {% include 'backend/includes/sidebar.includes.twig' %}

    <!-- Main content -->
    <main class="main">
      <!-- Breadcrumb -->
      {% include 'partials/error.twig' %}
      {% include 'partials/breadcrumbs.backend.twig' %}

      {{ block('body') }}
      <!-- /.conainer-fluid -->
    </main>

    {% include 'backend/includes/aside.includes.twig' %}

  </div>

  {% include 'backend/includes/footer.includes.twig' %}

  {{ block('beforeScripts')}}
  <!-- Bootstrap and necessary plugins -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/pace-progress/pace.min.js"></script>
  <script src="/node_modules/toastr/build/toastr.min.js"></script>

  <!-- Plugins and scripts required by all views -->
  <script src="/node_modules/chart.js/dist/Chart.min.js"></script>

  <!-- CoreUI main scripts -->
  <script src="/public/backend/js/global.js"></script>
  <script src="/public/backend/js/app.js"></script>

  <!-- Plugins and scripts required by this views -->
  <!-- Custom scripts required by this view -->
  <script src="/public/backend//public/backend/js/views/main.js"></script>
  {{ block('afterScripts')}}
</body>
</html>	